/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	background: linear-gradient(90deg, #dcf8d8, #39effe);
}

.wrapper {
	min-height: 100%;

	overflow: hidden;
}

._container {
	max-width: 500px;
	margin: 0 auto;
}

.header {
	margin: 0 0 200px 0;
	height: 60px;
}

.block {
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	min-width: 100px;
	min-height: 300px;
	align-items: center;
	justify-content: center;
	background: linear-gradient(270deg, #cb5eee, #4be1ec);
	-webkit-box-shadow: -6px 12px 35px 5px rgba(34, 60, 80, 0.23);
	-moz-box-shadow: -6px 12px 35px 5px rgba(34, 60, 80, 0.23);
	box-shadow: -6px 12px 35px 5px rgba(34, 60, 80, 0.23);
}

.link {
	display: block;
	border-radius: 40%;
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
	text-decoration: none;
	color: black;
}

.link:hover {
	color: white;
	background-color: red;
}
